<footer class="footer">
    <div class="info-one">
        <div class="timings">
            <img src="images/cw-footer-clock-img.svg" class="footer-img" alt="">
            <div class="timings-info">
                <h1 class="timing-headings">City Walk Timings</h1>
                <div>
                    <h3 class="timing-headings">Shops</h3>
                    <p>Sunday to Saturday 10 am to 10 pm</p>
                </div>
                <div>
                    <h3 class="timing-headings">Restaurant & Cafes</h3>
                    <p>Sunday to Saturday 10 am to 12 am</p>
                </div>
                <p>Timings are subject to change during public holidays*</p>
            </div>
        </div>
        <div class="timings">
            <img src="images/CW_Icons_AboutUs-01.svg" class="footer-img" alt="">
            <h1 class="timing-headings">About Us</h1>
        </div>
    </div>
    <div class="info-two">
        <div class="address">
            <img src="images/FooterLocation.svg" class="footer-img" alt="">
            <div class="info-txt">
                <h4>Address</h4>
                <p>Al Wasl and Al Safa Road junction, accessible from Sheikh Zayed Road via Exit D71 towards Jumeirah. Dubai, U.A.E</p>
                <a href="">Location Map</a>
            </div>
        </div>
        <div class="address">
            <img src="images/FooterEmail.svg" class="footer-img" alt="">
            <div class="info-txt">
                <h4>Email</h4>
                <a href="">customerservice@citywalk.ae</a>
                <div>
                    <h4>Leasing Inquiry</h4>
                    <a href="">leasing@citywalk.ae</a>
                </div>
            </div>
        </div>
        <div class="address">
            <img src="images/FooterCall.svg" class="footer-img" alt="">
            <div class="info-txt">
                <h4>Phone</h4>
                <p>+971 45905090</p>
            </div>
        </div>
    </div>
</footer>




<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
<script src="slick.min.js"></script>
<script src="jq.js"></script>
</body>
</html>