<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NovaSun</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="slick.css">
    <link rel="stylesheet" href="slick-theme.css">
    <link rel="stylesheet" href="index.css">

</head>
<body>
    <div class="vavbar">
        <img src="images/CityWalk_English_Logo_Black_RGB.svg" class="vav-img" alt="">
        <div class="vav-link">
            <a href="" class="navs">WHATS ON</a>
            <a href="" class="navs">SHOP</a>
            <a href="" class="navs">DINE</a>
            <a href="" class="navs">PLAY</a>
            <a href="" class="navs">UNWIND</a>
            <a href="" class="navs">STAY</a>
            <a href="" class="navs">STUDY</a>
            <a href="" class="navs">WORK</a>
            <a href="" class="navs">C2 LICENSED DISTRICT</a>
        </div>
        <div class="vav-link imgs">
            <img src="images/united-states.png" class="lang-img" alt="">
            <a href="" class="vav-link">English</a>
            <img class="search-img" src="images/search.png" alt="">
        </div>
    </div>
    <div class="sub-nav">
        <div class="subnav">
            <a href="" class="subnav-link">
                <img src="images/SubMenu Icons_Mall Hours.svg" class="icons" alt="">
                OPEN NOW
            </a>
            <a href="" class="subnav-link">
                <img src="images/Tickit_Icon.svg" class="icons" alt="">
                TICKIT
            </a>
            <a href="" class="subnav-link">
                <img src="images/CW Residence Icon.svg" class="icons" alt="">
                RESIDENCES
            </a>
            <a href="" class="subnav-link">
                <img src="images/SubMenu Icons_Services.svg" class="icons" alt="">
                SERVICES
            </a>
            <a href="" class="subnav-link">
                <img src="images/SubMenu Icons_Store Locator.svg" class="icons" alt="">
                STORE LOCATOR
            </a>
            <a href="" class="subnav-link">
                <img src="images/SubMenu Icons_Location.svg" class="icons" alt="">
                GETTING HERE
            </a>
            <a href="" class="subnav-link">
                <img src="images/Sub Menu Icons_FAQ.svg" class="icons" alt="">
                FAQ
            </a>
        </div>
    </div>
