<%- include("partials/header.ejs") %>
<div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
        <button id="lili" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button id="lili" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button id="lili" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button id="lili" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button id="lili" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
      </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="images/CW unplugged Home page banner 1920x640 EN 2.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="images/CW Fitness Hub Home page banner 1920x640 EN.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="images/C2 Banner 1920x640px.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="images/Tickit Home carousel banner Desktop 1920x640_City Walk.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="images/CW Dubai Can Homepage banner 1920x640px_Eng.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
  </div>
  <div class="explore">
    <div class="heading">
        <div class="line"></div>
        <p class="title">Explore Urban Lifestyle</p>
    </div>
    <p class="text">Welcome to City Walk, a creative lifestyle space where you can live, work and play. Built around movement, sharing and community, here contemporary creativity thrives and everyone who visits is inspired to actively seek the unexpected.
        <br>
        <br>
        Looking for things to do in City Walk?
        Conceptualised by the world's best designers, our creative lifestyle destination - including international retail offerings, upscale al fresco dining destinations, covetable residences, automobile showrooms, offices, Talabat's regional headquarters, Canadian University Dubai, The Green Planet, Roxy Cinemas, plush hotels and more - combines Dubai's love of out-of-the-box thinking with contemporary convenience.
    </p>
  </div>
<div class="whatson">
    <div class="hr"></div>

    <div class="hrone"></div>
    <p class="annoyance">WHATS ON</p>
        <div class="slider">
            <div class="slide">
                <img src="images/CW unplugged Mobile banner 800x600 EN 2.jpg" class="cust-img" alt="">
                <p class="new-head">17 Nov-25 Nov 2023</p>
                <p class="new-text">City Walk Unplugged Season 2 - Battle of the University Bands</p>
                <a class="know" href="">Know More</a>
            </div>
            <div class="slide">
                <img src="images/CW Fitness Hub Mobile banner 800x600 EN.jpg" class="cust-img" alt="">
                <p class="new-head">28 Oct - 26 Nov 2023</p>
                <p class="new-text">City Walk Fitness Hub - Let's get fit together </p>
                <a class="know" href="">Know More</a>
            </div>
            <div class="slide">
                <img src="images/CW Tickit Mobile Banner Updated 8Aug2022 800x600px_ENG.jpg" class="cust-img" alt="">
                <p class="new-head">28 Oct - 26 Nov 2023</p>
                <p class="new-text"> Dubai's only effortless instant rewards programme </p>
                <a class="know" href="">Know More</a>
            </div>
            <div class="slide">
                <img src="images/main.jpg" class="cust-img" alt="">
                <p class="new-head">28 Oct - 26 Nov 2023</p>
                <p class="new-text">CUDeals Exclusive to Canadian University Dubai </p>
                <a class="know" href="">Know More</a>
            </div>
            <div class="slide">
                <img src="images/Blek le Rat.JPG" class="cust-img" alt="">
                <p class="new-head">28 Oct - 26 Nov 2023</p>
                <p class="new-text">City Walk Fitness Hub - Let's get fit together </p>
                <a class="know" href="">Know More</a>
            </div>
            
        </div>
</div>
<div class="shop-dine">
    <div class="hrr"></div>

    <div class="hroner"></div>
    <p class="annoyances">SHOP, DINE & UNWIND</p>
    <div class="shop-div">
        <img src="images/Shop 964x768px.jpg" class="shop-img" alt="">
        <div class="inner-shop">
            <h1 class="shop-head">It's always shop-o-clock</h1>
            <p class="shop-text">Find international fashion and accessories, gifts for all ages, fresh blooms & modern homeware in an indoor-outdoor design inspired space</p>
            <a href="" class="knower">Know More</a>
        </div>
    </div>
    <div class="shop-div">
        <div class="inner-shop">
            <h1 class="shop-head">Happiness is family time</h1>
            <p class="shop-text">From kid-friendly eateries to entertainment spaces, children's hair salons to high-end retailers, we've got something for the entire family</p>
            <a href="" class="knower">Know More</a>
        </div>
        <img src="images/Dine 2 964x768px.jpg" class="shop-img" alt="">
    </div>
</div>
<div class="work-dine">
    <div class="hrr"></div>
    <div class="hroners"></div>
    <p class="annoyances">STUDY & WORK</p>
    <div class="shop-div">
        <img src="images/Study 964x768px.jpg" class="shop-img" alt="">
        <div class="inner-shop">
            <h1 class="shop-head">Canadian University Dubai</h1>
            <p class="shop-text">Canadian University Dubai (CUD) offers talented students a dedicated gateway to North America's elite higher education.</p>
            <a href="" class="knower">Know More</a>
        </div>
    </div>
    <div class="shop-div">
        <div class="inner-shop">
            <h1 class="shop-head">Offices at City Walk</h1>
            <p class="shop-text">City Walk offers visitors an open, design-inspired neighborhood in the heart of Dubai with hundreds of exclusive shops, restaurants and leisure activities set among 34 low-rise residential buildings, tree-lined avenues and a stunning collection of contemporary street art murals.</p>
            <a href="" class="knower">Know More</a>
        </div>
        <img src="images/package.jpeg" class="shop-img" alt="">
    </div>
</div>
<div class="whatson art">
    <div>
        <div class="hr"></div>

    <div class="hrone"></div>
    <p class="annoyance">ART WALL</p>
    </div>
    <h1 class="art-head">A VISUAL TREAT FOR THE CREATIVE MINDS</h1>
    <p class="art-text">Global artists have turned City Walk into an open-air exhibition. They have made the walls in City Walk their canvas to paint some visual poetry.</p>
        <div class="slider-two">
            <div class="slide">
                <img src="images/Ben Eine.JPG" class="cust-img" alt="">
            </div>
            <div class="slide">
                <img src="images/D FACE.JPG" class="cust-img" alt="">
            </div>
            <div class="slide">
                <img src="images/El Seed 2.jpg" class="cust-img" alt="">
            </div>
            <div class="slide">
                <img src="images/Beau Stanton.JPG" class="cust-img" alt="">
            </div>
            <div class="slide">
                <img src="images/Blek le Rat.JPG" class="cust-img" alt="">
            </div>
            <div class="slide">
                <img src="images/AIKO.jpg" class="cust-img" alt="">
            </div>
        </div>
        <a href="" class="knowers">Discover</a>
</div>
<div class="whatson social">
    <div>
        <div class="hr gay"></div>

    <div class="hrone"></div>
    <p class="annoyance tinger">SOCIAL FEED</p>
    </div>
    <h1 class="art-head tingy">#CityWalkDubai</h1>
    <p class="art-text ting">Stay up to date with the latest news from City Walk</p>
        <div class="slider-two">
            <div class="slide">
                <img src="images/Ben Eine.JPG" class="cust-img" alt="">
            </div>
            <div class="slide">
                <img src="images/D FACE.JPG" class="cust-img" alt="">
            </div>
            <div class="slide">
                <img src="images/El Seed 2.jpg" class="cust-img" alt="">
            </div>
            <div class="slide">
                <img src="images/Beau Stanton.JPG" class="cust-img" alt="">
            </div>
            <div class="slide">
                <img src="images/Blek le Rat.JPG" class="cust-img" alt="">
            </div>
            <div class="slide">
                <img src="images/AIKO.jpg" class="cust-img" alt="">
            </div>
        </div>
</div>

<%- include("partials/footer.ejs") %>